In [1]:
import pandas as pd 
import numpy as np 
import os
from math import cos, sin, radians

In [2]:
#get data file names for reading
files = os.listdir('data/')
print(files)

['mega_data', 'Kona Weather Data - All Years.csv', 'Runningman2008', 'Runningman2009', 'Runningman2014', 'Runningman2013', 'Runningman2012', 'Runningman2015', 'weather_final', 'Runningman2010', 'Runningman2017', 'Runningman2016', 'Runningman2011', 'Runningman2018']

In [4]:
#create a dictionary of all weather dataframes 
df_dict = {}
for filename in files: 
    if 'Run' in filename:
        filepath = 'data/'+filename
        df = pd.read_csv(filepath)
        df_dict[filename[-4:]] = df
print(list(df_dict.keys()))

['2008', '2009', '2014', '2013', '2012', '2015', '2010', '2017', '2016', '2011', '2018']

In [5]:
#add the year column to each dataframe
for year,df in df_dict.items(): 
    df['Year'] = df.apply(lambda row: int(year), axis = 1)
#concat the all year's data into one file
dfs = list(df_dict.values())
mega_data = pd.concat(dfs)

In [6]:
#Functions to clean data 
def find_good_rows(row): 
    if ':' in row['Swim'] and ':' in row['Bike'] and ':' in  row['Run']  and ':' in row['Finish']: 
        return True 
    else: 
        return False
def convert_time(string): 
#     print(string)
    string1 = string.split(':')
    time = int(string1[0])*60 + int(string1[1])+ int(string1[2])/60
#     print(string)
    return round(time, 3)
def add_weather_data(row, year): 
    weather_row = we[new_new_df['Good_row?']==True]
def get_dummy_female(code): 
    if code == 1: 
        return 1
    else: 
        return 0

In [8]:
#read weather data
weather = pd.read_csv('data/Kona Weather Data - All Years.csv')
directions = weather['Wind Direction']
# weather

In [9]:
#function to create new windspeed variables
def calc_x_y_speeds(d, speed): 
    angle_dict = {'WSW':radians(22.5), 'SW': radians(45), 'SSW':radians(67.5), 'S': radians(90), 'W': radians(0)}  
    south = round(sin(angle_dict[d])*speed, 3)
    west = round(cos(angle_dict[d])*speed, 3)
    return south, west
calc_x_y_speeds('WSW', 8.118)

(3.107, 7.5)

In [10]:
weather['West'] = weather.apply(lambda row: calc_x_y_speeds(row['Wind Direction'], row['Wind Speed'])[1], axis = 1)

In [11]:
weather['South'] = weather.apply(lambda row: calc_x_y_speeds(row['Wind Direction'], row['Wind Speed'])[0], axis = 1)

In [12]:
weather

    Year  Avg Temp  Hi Temp  Humidity  Wind Speed Wind Direction   West  South
0   2008    80.647       84    56.647       8.118            WSW  7.500  3.107
1   2009    83.556       87    63.000       8.389            WSW  7.750  3.210
2   2010    76.167       83    68.944       7.444             SW  5.264  5.264
3   2011    81.333       85    63.444       7.167             SW  5.068  5.068
4   2012    82.222       86    57.667       9.222             SW  6.521  6.521
5   2013    81.263       84    72.737       8.158              S  0.000  8.158
6   2014    82.500       86    62.389       8.500            SSW  3.253  7.853
7   2015    85.167       89    65.444       8.111              S  0.000  8.111
8   2016    83.238       88    65.429       8.429              S  0.000  8.429
9   2017    82.611       87    68.222       8.000            SSW  3.061  7.391
10  2018    79.913       83    79.000       5.957              W  5.957  0.000

In [20]:
weather.describe()

,Year,Avg Temp,Hi Temp,Humidity,Wind Speed,West,South
count,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000
mean,2013.000000,81.692455,85.636364,65.720273,7.954091,4.034000,5.737455
std,3.316625,2.341238,2.013590,6.428499,0.853437,2.977635,2.710330
min,2008.000000,76.167000,83.000000,56.647000,5.957000,0.000000,0.000000
25%,2010.500000,80.955000,84.000000,62.694500,7.722000,1.530500,4.139000
50%,2013.000000,82.222000,86.000000,65.429000,8.118000,5.068000,6.521000
75%,2015.500000,82.924500,87.000000,68.583000,8.409000,6.239000,7.982000
max,2018.000000,85.167000,89.000000,79.000000,9.222000,7.750000,8.429000

In [44]:
#Functions to clean data 
def find_good_rows(row): 
    if ':' in row['Swim'] and ':' in row['Bike'] and ':' in  row['Run']  and ':' in row['Finish']: 
        return True 
    else: 
        return False
def convert_time(string): 
#     print(string)
    string1 = string.split(':')
    time = int(string1[0])*60 + int(string1[1])+ int(string1[2])/60
#     print(string)
    return round(time, 3)
def add_weather_data(row, year): 
    weather_row = we[new_new_df['Good_row?']==True]
def get_dummy_female(code): 
    if code == 1: 
        return 1
    else: 
        return 0
def extreme_heat(temp): 
    if temp<=85: 
        return 0 
    else: 
        return temp-85
    
def find_continent(country): 
    if country in NA: 
        return 'NA'
    if country in SA: 
        return 'SA'
    if country in A: 
        return 'A'
    if country in Au: 
        return 'Au'
    if country in Af: 
        return 'Af'
    else: 
        return 'Eu'

In [14]:
#### SUMMARY OF DATA CLEANING
#check for rows with bad data
mega_data['Good_row?'] = mega_data.apply(lambda row:find_good_rows(row), axis=1)
#new df with only good rows
mega_data2 = mega_data[mega_data['Good_row?']==True]
#set of column names that we want.
columns = ('Name', 'Country', 'Swim', 'Bike', 'Run', 'Finish', 'Agegroup','Gender', 'Year')
#new df with only the columnns of interest
mega_data3 = mega_data2.loc[:, ('Name', 'Country', 'Swim', 'Bike', 'Run', 'Finish', 'Agegroup','Gender', 'Year')]
#adding new rows with time strings converted into minutes 
mega_data3['finish'] = np.array([convert_time(time) for time in mega_data3.Finish])
mega_data3['swim'] = np.array([convert_time(time) for time in mega_data3.Swim])
mega_data3['bike'] = np.array([convert_time(time) for time in mega_data3.Bike])
mega_data3['run'] = np.array([convert_time(time) for time in mega_data3.Run])
#new df with the converted times 
mega_data4 = mega_data3.loc[:, ('Name', 'Country', 'swim', 'bike', 'run', 'finish', 'Agegroup','Gender', 'Year')]
#merge weather data with runningman data
mega_data5 = mega_data4.merge(weather, how = 'outer', on = "Year")
#creating dummy variable for gender female=1, male=1
mega_data5['Female'] = np.array([get_dummy_female(x) for x in mega_data5.Gender])

In [230]:
mega_data = pd.read

In [256]:
# #create csv file with mega_data 
# mega_data5.to_csv('ironman/data/mega_data')

In [ ]:
# #writing new weather dataframe to pandas
# weather.to_csv('ironman/data/weather_final')

In [15]:
mega_data = pd.read_csv('data/mega_data')

In [16]:
mega_data.head()

,Unnamed: 0,Name,Country,swim,bike,run,finish,Agegroup,Gender,Year,Avg Temp,Hi Temp,Humidity,Wind Speed,Wind Direction,West,South,Female
0,0,"Alexander, Craig",AUS,51.717,277.317,165.000,497.750,Pro,2,2008,80.647,84,56.647,8.118,WSW,7.5,3.107,0
1,1,"Allan, Paolina",CAN,69.367,322.683,212.333,609.633,Pro,1,2008,80.647,84,56.647,8.118,WSW,7.5,3.107,1
2,2,"Al-Sultan, Faris",DEU,51.717,273.400,190.017,519.533,Pro,2,2008,80.647,84,56.647,8.118,WSW,7.5,3.107,0
3,3,"Amey, Paul",GBR,51.750,296.883,176.017,528.967,Pro,2,2008,80.647,84,56.647,8.118,WSW,7.5,3.107,0
4,4,"Bastie, Christophe",FRA,59.050,294.450,193.567,552.350,Pro,2,2008,80.647,84,56.647,8.118,WSW,7.5,3.107,0

In [17]:
mega_data_pro = mega_data[mega_data.Agegroup == 'Pro']

In [22]:
mega_data_pro = mega_data_pro.drop(['Female', 'Unnamed: 0', 'Name'], axis=1)

In [26]:
mega_data_pro['extreme_heat'] = np.array([extreme_heat(temp) for temp in mega_data_pro['Hi Temp']])

In [29]:
mega_data_pro = mega_data_pro.drop('Wind Direction', axis=1)

In [31]:
mega_data_pro = mega_data_pro.drop('Agegroup', axis=1)

In [46]:
mega_data_pro['Continent'] = np.array([find_continent(x) for x in mega_data_pro.Country])

In [48]:
mega_data_pro = mega_data_pro.drop('Country', axis=1)

In [ ]:
mega_data_pro.head()

In [33]:
mega_data_pro.Country.unique()

array(['AUS', 'CAN', 'DEU', 'GBR', 'FRA', 'USA', 'BEL', 'ESP', 'NLD',
       'FIN', 'NZL', 'CZE', 'HUN', 'ITA', 'AUT', 'CHE', 'EST', 'JPN',
       'BRA', 'PRT', 'HRV', 'DNK', 'ARG', 'NCL', 'LUX', 'ZAF', 'KOR',
       'POL', 'SWE', 'BMU', 'SVN', 'RUS', 'ARE', 'UKR', '---', 'SYC',
       'GIB'], dtype=object)

In [43]:
NA = ['USA', 'CAN', 'BMU']
SA = ['BRA', 'ARG']
A = ['JPN', 'KOR', 'ARE']
Au = ['AUS', 'NZL', 'NCL']
Af = ['ZAF', 'SYC']




import seaborn as sns

In [39]:
sns.distplot( mega_data_pro.Country, bar = True)

TypeError: distplot() got an unexpected keyword argument 'bar'