In [192]:
import pandas as pd 
import numpy as np 
import os
from math import cos, sin, radians

In [151]:
#get data file names for reading
files = os.listdir('ironman/data')
print(files)

['Kona Weather Data - All Years.csv', 'Runningman2008', 'Runningman2009', 'Runningman2014', 'Runningman2013', 'Runningman2012', 'Runningman2015', 'Runningman2010', 'Runningman2017', 'Runningman2016', 'Runningman2011', 'Runningman2018']

In [23]:
#create a dictionary of all weather dataframes 
df_dict = {}
for filename in files: 
    if 'Run' in filename:
        filepath = 'ironman/data/'+filename
        df = pd.read_csv(filepath)
        df_dict[filename[-4:]] = df
print(list(df_dict.keys()))

['2008', '2009', '2014', '2013', '2012', '2015', '2010', '2017', '2016', '2011', '2018']

In [222]:
#add the year column to each dataframe
for year,df in df_dict.items(): 
    df['Year'] = df.apply(lambda row: int(year), axis = 1)
#concat the all year's data into one file
dfs = list(df_dict.values())
mega_data = pd.concat(dfs)

In [ ]:
#Functions to clean data 
def find_good_rows(row): 
    if ':' in row['Swim'] and ':' in row['Bike'] and ':' in  row['Run']  and ':' in row['Finish']: 
        return True 
    else: 
        return False
def convert_time(string): 
#     print(string)
    string1 = string.split(':')
    time = int(string1[0])*60 + int(string1[1])+ int(string1[2])/60
#     print(string)
    return round(time, 3)
def add_weather_data(row, year): 
    weather_row = we[new_new_df['Good_row?']==True]
def get_dummy_female(code): 
    if code == 1: 
        return 1
    else: 
        return 0

In [187]:
#read weather data
weather = pd.read_csv('ironman/data/Kona Weather Data - All Years.csv')
directions = weather['Wind Direction']
# weather

    Year  Avg Temp  Hi Temp  Humidity  Wind Speed Wind Direction
0   2008    80.647       84    56.647       8.118            WSW
1   2009    83.556       87    63.000       8.389            WSW
2   2010    76.167       83    68.944       7.444             SW
3   2011    81.333       85    63.444       7.167             SW
4   2012    82.222       86    57.667       9.222             SW
5   2013    81.263       84    72.737       8.158              S
6   2014    82.500       86    62.389       8.500            SSW
7   2015    85.167       89    65.444       8.111              S
8   2016    83.238       88    65.429       8.429              S
9   2017    82.611       87    68.222       8.000            SSW
10  2018    79.913       83    79.000       5.957              W

In [260]:
#function to create new windspeed variables
def calc_x_y_speeds(d, speed): 
    angle_dict = {'WSW':radians(22.5), 'SW': radians(45), 'SSW':radians(67.5), 'S': radians(90), 'W': radians(0)}  
    south = round(sin(angle_dict[d])*speed, 3)
    west = round(cos(angle_dict[d])*speed, 3)
    return south, west
calc_x_y_speeds('WSW', 8.118)

(3.107, 7.5)

In [198]:
weather['West'] = weather.apply(lambda row: calc_x_y_speeds(row['Wind Direction'], row['Wind Speed'])[1], axis = 1)

In [199]:
weather['South'] = weather.apply(lambda row: calc_x_y_speeds(row['Wind Direction'], row['Wind Speed'])[0], axis = 1)

In [261]:
weather

    Year  Avg Temp  Hi Temp  Humidity  Wind Speed Wind Direction   West  South
0   2008    80.647       84    56.647       8.118            WSW  7.500  3.107
1   2009    83.556       87    63.000       8.389            WSW  7.750  3.210
2   2010    76.167       83    68.944       7.444             SW  5.264  5.264
3   2011    81.333       85    63.444       7.167             SW  5.068  5.068
4   2012    82.222       86    57.667       9.222             SW  6.521  6.521
5   2013    81.263       84    72.737       8.158              S  0.000  8.158
6   2014    82.500       86    62.389       8.500            SSW  3.253  7.853
7   2015    85.167       89    65.444       8.111              S  0.000  8.111
8   2016    83.238       88    65.429       8.429              S  0.000  8.429
9   2017    82.611       87    68.222       8.000            SSW  3.061  7.391
10  2018    79.913       83    79.000       5.957              W  5.957  0.000

In [252]:
#Functions to clean data 
def find_good_rows(row): 
    if ':' in row['Swim'] and ':' in row['Bike'] and ':' in  row['Run']  and ':' in row['Finish']: 
        return True 
    else: 
        return False
def convert_time(string): 
#     print(string)
    string1 = string.split(':')
    time = int(string1[0])*60 + int(string1[1])+ int(string1[2])/60
#     print(string)
    return round(time, 3)
def add_weather_data(row, year): 
    weather_row = we[new_new_df['Good_row?']==True]
def get_dummy_female(code): 
    if code == 1: 
        return 1
    else: 
        return 0

In [ ]:
#### SUMMARY OF DATA CLEANING
#check for rows with bad data
mega_data['Good_row?'] = mega_data.apply(lambda row:find_good_rows(row), axis=1)
create
#new df with only good rows
mega_data2 = mega_data[mega_data['Good_row?']==True]
#set of column names that we want.
columns = ('Name', 'Country', 'Swim', 'Bike', 'Run', 'Finish', 'Agegroup','Gender', 'Year')
#new df with only the columnns of interest
mega_data3 = mega_data2.loc[:, ('Name', 'Country', 'Swim', 'Bike', 'Run', 'Finish', 'Agegroup','Gender', 'Year')]
#adding new rows with time strings converted into minutes 
mega_data3['finish'] = np.array([convert_time(time) for time in mega_data3.Finish])
mega_data3['swim'] = np.array([convert_time(time) for time in mega_data3.Swim])
mega_data3['bike'] = np.array([convert_time(time) for time in mega_data3.Bike])
mega_data3['run'] = np.array([convert_time(time) for time in mega_data3.Run])
#new df with the converted times 
mega_data4 = mega_data3.loc[:, ('Name', 'Country', 'swim', 'bike', 'run', 'finish', 'Agegroup','Gender', 'Year')]
#merge weather data with runningman data
mega_data5 = mega_data4.merge(weather, how = 'outer', on = "Year")
#creating dummy variable for gender female=1, male=1
mega_data5['Female'] = np.array([get_dummy_female(x) for x in mega_data5.Gender])

In [228]:
mega_data['Good_row?'] = mega_data.apply(lambda row:find_good_rows(row), axis=1)

In [233]:
columns = ['Name', 'Country', 'Swim', 'Bike', 'Run', 'Finish', 'Agegroup','Gender', 'Year']

In [230]:
# mega_data

In [231]:
mega_data2 = mega_data[mega_data['Good_row?']==True]

In [234]:
mega_data3 = mega_data2.loc[:, ('Name', 'Country', 'Swim', 'Bike', 'Run', 'Finish', 'Agegroup','Gender', 'Year')]

In [243]:
mega_data3['finish'] = np.array([convert_time(time) for time in mega_data3.Finish])
mega_data3['swim'] = np.array([convert_time(time) for time in mega_data3.Swim])
mega_data3['bike'] = np.array([convert_time(time) for time in mega_data3.Bike])
mega_data3['run'] = np.array([convert_time(time) for time in mega_data3.Run])

In [248]:
mega_data4 = mega_data3.loc[:, ('Name', 'Country', 'swim', 'bike', 'run', 'finish', 'Agegroup','Gender', 'Year')]

In [250]:
mega_data5 = mega_data4.merge(weather, how = 'outer', on = "Year")

In [255]:
mega_data5['Female'] = np.array([get_dummy_female(x) for x in mega_data5.Gender])

In [256]:
#create csv file with mega_data 
mega_data5.to_csv('ironman/data/mega_data')

In [ ]:
#writing new weather dataframe to pandas
weather.to_csv('ironman/data/weather_final')